---
import '../styles/face.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Face Mesh Tracker</title>
	</head>
	<body>
		<div id="app">
			<nav class="top-nav">
				<a href="/">Hands</a>
				<a href="/face" class="active">Face</a>
			</nav>

			<canvas id="face-canvas"></canvas>
			<video id="webcam" autoplay playsinline></video>

			<div class="status-bar">
				<div id="status">Initializing Face Mesh...</div>
				<fps-monitor></fps-monitor>
			</div>
		</div>

		<script>
			import '../components/fps-monitor.js';
			import { init } from '../scripts/faceOnly.js';
			init();
		</script>
	</body>
</html>
